body {
    cursor: url(https://cdn.jsdelivr.net/gh/qqlqlqq/resources/images/15.cur),
        default;
}

a, img {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
        default;
}